.pet {
    border: 2px solid black;
    border-radius: 15px;
    padding-left: 50px;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

.favorite {
    background-color: yellowgreen;
}

.not-favorite {
    background-color: tomato;
}